<div class="container">
<h1 mat-dialog-title>Cosa devi fare?</h1>
<div mat-dialog-content class='mat-dialog-content'>

<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput [(ngModel)]="newTodo.title">
</mat-form-field>
<mat-form-field>
  <mat-label>Priority</mat-label>
  <mat-select [(ngModel)]="newTodo.priority">
    <mat-option value="1">Low</mat-option>
    <mat-option value="2">Middle</mat-option>
    <mat-option value="3">Hight</mat-option>

  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Text area</mat-label>
  <textarea matInput [(ngModel)]="newTodo.description"></textarea>
</mat-form-field>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="saveTodo()" mat-button mat-dialog-close cdkFocusInitial>Save</button>
  </div>
</div>
